.homeWarpper{

}

.homeWarpper h2{
    text-align: right;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 20px;
}

.articleW
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}